
<style type="text/css">
	.focus { background: #FEF1C1; }	
	.class123-label { font-family: verdana; font-size: small; color: #000000;}
	.class123-labelmic { font-family: verdana; font-size: xx-small; color: #666666; }
	.class123-labelinfo { font-family: verdana; font-size: xx-small; color: #666666; }
	.class123-sidebyside { float:left; margin:0 5px 0 0;}
	.class123-twocol { float:left; width:45%; margin:0 5px 0 0;}
	.class123-threecol { float:left; width:30%; margin:0 5px 0 0;}
	.class123-likert_style_li { display:table-cell; vertical-align:middle; text-align:center; top:0px; padding:0px; width:20%; height:50px; margin:0px; font:79%/100% verdana; font-weight:bold; background:#f8f8f8; zoom:1; *display:inline; }
	.class123-likert_style_li2 { display:inline-block; vertical-align:middle; text-align:center; top:0px; padding:0px; width:20%; height:50px; margin:0px; font:79%/100% verdana; zoom:1; *display:inline; }
	.class123-select { height:1.6em; }
	
	.class123-pbline { display:none; }
	.class123-pbprev { background: none; border: medium none; text-decoration: underline; cursor: pointer; }
	.class123-pagination { float:left; width:99%; min-width:550px; font-size:10px; margin:0px; margin-bottom:10px; }
	.class123-progresscircle { margin:0px !importat; background: #CCC; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; float:left; }
	.class123-progresscircleactive { margin:0px !importat; background:#FEF1C1; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
	.class123-progresstext { display:table-cell; height:100%; width: 24px; text-align:center; padding-top:3px; font-family: verdana; font-size:13px; }
	.class123-progressPercDiv { float:left; width:100%; margin:0px !important; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; padding:2px; }
	.class123-progressPercBar { float:left; text-align:right; line-height:23px; padding-right:4px; font-weight:bold; height: 24px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:0px !importat; background:#FEF1C1;}
	.class123-pagename { float:left; font-family: verdana; line-height:23px; margin-left:5px; }	
	.currentPageActive { display:block; }
	.currentPageInactive { display:none; }
	.formdefaultbutcolor { background-color: #C80042}
	
	.fontbold { font-weight: bold; }
	.fontitalic { font-style: italic; }
	.requiredspan { font-family: Verdana; font-size:10px; color:#f00; margin-left:3px; }
	.requiredfield:after{content: " *";color:red;font-size:10px;font-family:Verdana;}
	.columntable tr td { padding:5px; }
	.class123_maintable { text-align: left; }
	.formdefaultbut { display:inline; list-style:none; margin-right:4px; color:#fff; border:none; padding:3px 10px; cursor:pointer; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; font-weight:bold;}
	.footerLink13:link,.footerLink13:visited,.footerLink13:active { font-size:small;color:#000000 !important; text-decoration:underline !important;}
	.footerLink13:hover{font-size:small;color:#FFFFFF !important;text-decoration:none !important;background-color:#C80042 !important;}
	
	/* NEW STYLES BEGIN	*/
	.maintable_centered { margin-left:10%; margin-right:10%; }
	.divonecolumn { width:48% !important; float:left; display:block; margin-right:3px; }
	
	.optionscontainer { width:100%; display:block; float: left; text-align:left; }
	.optionscontainer.pagination {margin-top:6px;}	
	
	
	.fieldcontainer { display:block; float: left; margin:0; padding:0; width:100%; } /* OLD: margin-bottom:3px; */
	.fieldcontainer div .rowleft, .fieldcontainer div .rowright { display:block; float: left; }
	
	.fieldcontainer .rowleft { margin:6px 1%; width:34%; }
	.fieldcontainer .rowright { margin:6px 1%; width: 62%; }
	.fieldcontainer .rowup { margin:3px 0.5%; width: 96%; float:left; }
	.fieldcontainer .rowdown { margin:3px 0.5%; width:96%; float:left; }
	.fieldcontainer .uberfieldlat { margin:3px 1%; }
	.class123-separ-row { float:left; width:100%; background-color: transparent; }
	
	.fieldwidth100 { float:left; width:100%; }
	.fieldwidth90  { float:left; width:90%; }
	.fieldwidth80  { float:left; width:80%; }
	.fieldwidth70  { float:left; width:70%; }
	.fieldwidth60  { float:left; width:60%; }
	.fieldwidth50  { float:left; width:50%; }
	.fieldwidth40  { float:left; width:40%; }
	.fieldwidth30  { float:left; width:30%; }
	.fieldwidth20  { float:left; width:20%; }
	.fieldwidth10  { float:left; width:10%; }	
	
	.sortabledemo .fieldwidth90, .sortabledemo .fieldwidth80, .sortabledemo .fieldwidth70, .sortabledemo .fieldwidth60, .sortabledemo .fieldwidth50, .sortabledemo .fieldwidth40, .sortabledemo .fieldwidth30, .sortabledemo .fieldwidth20, .sortabledemo .fieldwidth10
	{ background-image:url("/images3/bg-field-container.png");background-repeat:repeat-x;position:relative;background-position:bottom; }
	
	
	.thebuttons .divonecolumn.second { padding:6px; }
	.fieldcontainer img, select { max-width:100% !important; }
	
	.class123-firstname, .class123-lastname { width:95px; margin-right:10px; }
	.class123-address { max-width:400px; }	
		
	/* NEW STYLES END */	
</style>   
   <!--[if lte IE 8]>
	<style type="text/css">
	.class123-likert_style_li2 {height:56px;}
	</style>
	<![endif]-->