@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(Images/BG_main1.png);
	background-position: left;
	background-color: #bac490;
	background-repeat: repeat;
	width:900px;
	height:1500px;
	margin:0 auto;
}

.sp_top
{
	width:820px;
	height:100px;
	margin:0 auto;
}
.sp_top a
{
	color: #000;
	text-decoration:none;
	color: #008000;
	font-family: Arial, Helvetica, sans-serif;
}
	
#flash
{
	margin:0 auto;
	width:840px;
	height:390px;
	background-image:url(Images/Flash_Bdr.png);
}
#swf
{
	margin:0 auto;
	padding-top: 20px;
	width: 800px;
	height: 350px;
}
.sp_top1
{
	width:950px;
	height:30px;
	margin:0 auto;
}
#header
{
	margin:0 auto;
	background-image:url(Images/wheelbg.png);
	width: 950px;
	height: 90px;
	
}
#logo
{
	float:left;
	margin-top:5px;
	width: 250px;
	height:84px;
}
#banner
{
	float:left;
	width:700px;
	height:89px;
}

#nav
{
	margin:0 auto;
	width: 950px;
	height: 46px;
	background-color:#000;
	border: #666 1px dotted;
}
#main
{
	margin:0 auto;
	width: 950px;
	height:1500px;
	background-color:#FFF;
	background-image:url(Images/wheelbg.png);
	float:none;
	border: #666 1px dotted;
}

#main_content
{
	margin:0 auto;
	width: 700px;
	height:489px;
	padding-top:11px;
	background-image:url(Images/Main_bg.png);
	background-repeat:no-repeat;
	float:left;

}
#main_content_ins
{
	margin:0 auto;
	width: 660px;
	height:389px;
	position:relative;

}
#main_content_ins a
{
	text-decoration:none;
	color:#000;
}
#main_hori
{
	margin:0 auto;
	width: 250px;
	height:500px;
	float:left;
}
.alct
{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#76b900;
}

.alct_body
{
	font-family:"Calibri", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:  #000;
}

.alct_body1
{
	font-family:"Calibri", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color: #FFF;
}
.alct_title
{
	font-family:"Calibri", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
#footer1
{
	width:950px;
	height:350px;
	margin:0 auto;
	border:#666 1px dotted;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}
#footer
{
	width:950px;
	height:80px;
	margin:0 auto;
	background-color: #000;
	border:#666 1px dotted;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}
#footer p strong {
	font-size: 10px;
}

#ver
{
	width:5px;
	height:150px;
	float:left;
}
#ver1
{
	width:245px;
	height:150px;
	padding-top: 5px;
	float:left;
}
#ver_bottom1
{
	width:250px;
	height:328px;
	background-image:url(Images/Main_side_bg.png);
	background-position:center;
	background-repeat:no-repeat;
	padding-top:18px;
}
#ver_bottom
{
	width:250px;
	height:328px;
	padding-top:0px;
}	
* {margin:0; padding:0;}
div#menu {width:245px; background: url(Images/menu_1.gif) top no-repeat; padding-top:44px;}

div#menubody {background: url(Images/menu_2.gif) repeat-y; padding-left:21px;}

div#menubottom {height:26px; background: url(Images/menu_4.gif) bottom no-repeat;}

ul#menulist {width:200px; list-style-type:none;}

ul#menulist li {height:27px; background: url(Images/menu_3.gif) bottom repeat-x;}

ul#menulist a {width:245px; height:20px; border-left:#524c0d 10px solid; font:bold 12px  Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none; padding:5px 0 0 20px; display:block !important; display:inline-block;}

ul#menulist a:hover {
	background: url(Images/menu_5.jpg) left repeat-y;
	font-size:12px;
	color: #D6D6D6;
}

#main_WD
{
	margin:0 auto;
	width: 950px;
	height:1100px;
	float:none;
}
#main_WD1
{
	margin:0 auto;
	width: 950px;
	height:585px;
	float:none;
	border: #666 1px dotted;
}
#main_hori_WD
{
	margin:0 auto;
	width: 250px;
	height:1095px;
	float:left;
}
#main_content_WD
{
	margin:0 auto;
	width: 700px;
	height:1079px;
	background-image:url(Images/Main_bg_WD.png);
	background-repeat:no-repeat;
	padding-top:18px;
	float:left;

}
#main_content_ins_WD
{
	margin:0 auto;
	width: 660px;
	height:1000px;
	padding-top:0px;
	position:relative;

}
#main_content_WD1
{
	margin:0 auto;
	width: 700px;
	height:570px;
	background-image:url(Images/Main_bg1.png);
	background-repeat:no-repeat;
	padding-top:12px;
	float:left;

}
#ver_bottom_WD
{
	width:250px;
	height:550px;
	background-position:center;
	background-repeat:no-repeat;
	padding-top:250px;
}
#main #main_content #main_content_ins p .alct_body {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
.list_feature {
width:680px;
margin:0 auto;
}

.featureholder {
width:149px;
height:135px;
float:left;
background:url(../images/feature_thumb_bg.png);
margin:5px; 
cursor:pointer;
}
.featurethumbholder {
width:100px;
margin:0 auto;
padding:1px 0 0 0;
}
.featuretxtholder{
	width : 130px;
	float : left;
	font-family : Tahoma, sans-serif;
	font-size : 11px;
	color : #333333;
	padding : 10px;
}