
@charset "utf-8";
/* CSS Document */


#topsocialbar {
height:25px;
float:left;
width:990px;
clear:both;
}

#topsocialbar a{
display:block;
float:left;
}

#sidebarmenu, #sidebardemo, #sidebartalktous, #satisfiedclients, #testimonials {
width:260px;
border:1px solid #CCCCCC;
border-top-left-radius:10px;
border-top-right-radius:10px;
margin-bottom:10px;
}
#satisfiedclients {
margin-bottom:10px;
}


#sidebarmenu h3, #satisfiedclients h3, #testimonials h3{
color:#006699;
font-size:11px;
list-style:none;
padding:5px 10px;
margin:0;
border:1px solid #FFFFFF;
background:#F7F7F7;
font-family:'Arimo',sans-serif;
}


#sidebarmenu h2, #sidebardemo h2, #sidebartalktous h2, #satisfiedclients h2, #testimonials h2{
color:#009933;
border-top-left-radius:10px;
border-top-right-radius:10px;
background:#F1F1F1;
font-weight:bold;
padding:5px 10px;
margin:0;
font-size:12px;
}

#testimonials {
height:300px;
}

#sidebardemo, #sidebartalktous, #testimonials {
margin-bottom:10px
}

#testimonialslider p {
color:#666666;
}
#testimonials_holder{
padding:5px;
	
}
.highlighttxt {
font-weight:bold;
}

.socialicons {
float:right;
padding:5px;
}
